@inherits LayoutComponentBase
@inject Blazored.LocalStorage.ILocalStorageService localStorage
<Layout SideWidth="0" IsPage="true" ShowGotoTop="true" ShowCollapseBar="true"
        IsFixedHeader="@false" IsFixedFooter="@false" ShowFooter="@false"
        TabDefaultUrl="/" UseTabSet="@false" AdditionalAssemblies="new[] { GetType().Assembly }">
    <Header>
        <!-- <span class="ms-3 flex-sm-fill d-none d-sm-block" @OnClick=@SpanOnclick()>Bootstrap of Blazor</span>-->
        <ImageViewer style="height: 40px;" class="" @onclick="on" Url="./images/logo.png" FitMode=ObjectFitMode.Cover></ImageViewer>
        <!-- <img alt="logo" style="width: 40px;" class="bb-icon ms-3 d-none d-sm-block" src="./images/brand.png">-->
        <span class="ms-3 flex-sm-fill d-none d-sm-block "></span>
        <div class="flex-fill d-sm-none flex-sm-fill">
        </div>

    </Header>

    <Main>
        <CascadingValue Value="this" IsFixed="true">
            @Body
        </CascadingValue>
    </Main>
    <Footer>
        <div class="text-center flex-fill">
            <a class="page-layout-demo-footer-link" href="https://gitee.com/LongbowEnterprise/BootstrapAdmin" target="_blank">Bootstrap Admin</a>
        </div>
    </Footer>
    <NotFound>
        <p>Sorry, there's nothing at this address.</p>
    </NotFound>
</Layout>

@code {
    public void on()
    {
        System.Console.WriteLine(222222222222222);
    }
}
